<launch>
    <!-- 
        Bring up teleop using Logitech joystick
     -->
     <arg  name="joy_yaml" default="$(env JOYSTICK_YAML)"/>
     <arg  name="teleop_yaml" default="$(env TELEOP_YAML)"/>
     <arg  name="enable_joy" default="true"/>
     <arg  name="enable_teleop" default="true"/>
     
     <node if="$(arg enable_joy)" pkg="joy" type="joy_node" name="joy_node" >
        <rosparam command="load" file="$(arg joy_yaml)"/>
     </node>

    <node if="$(arg enable_teleop)" pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
        <rosparam command="load" file="$(find zlac8030l_ros)/config/teleop.yaml"/>
    </node>

</launch>
